# Build Folders
bin/
obj/
build/
publish/
perf/

# Native libraries
lib
lib-*
^lib/**/*.txt

# NuGet-related
packages

# User Settings
*.suo
*.user
*.userprefs

# Other
*.snk
_ReSharper.*
*.swp
*.pidb
*.cache
